
.signup{
    background-color: rgb(203, 146, 99);
}




  p label{

    display:inline-block;
    width:10%;
    color:rgba(149, 0, 153,0.85);
   
  }


  .wrapper{

    position: relative;
    width: 400px;
    height: 470px;
    background: transparent;
    border: 2px solid rgba(149, 0, 153,0.25);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin: 0 auto;
     
  }



  .wrapper .form-box{

    width: 100%;
    padding: 40px;
    background-color: rgba(216, 104, 73, 0.742);

    
  }
  h2{

    font-size: 2em;
    color:rgba(149, 0, 153,0.85);
    text-align: center;
   
  }

  .input-box{
    position: relative;
    height: 50px;
    justify-content: space-between;
  }

  .input-box label {
    position: absolute;
    transform: translateY(-250%);
    left: 5px;
  }


  .input-box .icon{
    position: absolute;
    top: 3px;
    right: 4px;
  }

  .background-image {
    background-image: url('images/plant.jpeg');
    background-size: cover;
    width: 100%;
    z-index: 2;
 }

  input{
    width:100%;
    
  }
  input[type=submit]{
    width:8%;
  }

  input[type=checkbox]{
    width: 20px;
  }


  .remember-forget{
   
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    
  }

  .remember-forget label input {
   margin-right: 3px;
  }

  .remember-forget a {
    text-decoration: none;
  }
  .remember-forget a:hover {
    text-decoration: underline;
  }

  .btn{
    width: 100%;
    height: 45px;
    background-color: rgba(211, 134, 113, 0.742);
    color: aliceblue;
    cursor: pointer;
  }
  /* form{
    padding:10px;
    background:rgba(149, 0, 153,0.25);
  } */