

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*
{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;  /* Remove underline */
    color: inherit;        /* Inherit text color from parent */
    outline: none;         /* Remove outline (focus) */
  }

html,
body
{
    overflow: hidden;
    cursor: default;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    
}

button {
    border: none;        /* Remove the border */
    background: none;    /* Remove the background */
    outline: none;       /* Remove the outline (focus) */
    padding: 0;          /* Remove padding if necessary */
    margin: 0;           /* Remove margin if necessary */
    color:#fff;
    cursor: pointer;
  

}

#button-homepage{
    position: absolute;
    top: 5%;
    left: 3%;
    padding: 1%;
    border: 2px solid rgb(255, 255, 255);
    z-index: 2;
    
}

.button-hmp{
    letter-spacing: 8px;
}

#pop-up-page{

    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(210, 117, 40);
    padding:5%;
    transform: translate(-50%,-50%);
    display: none;

}

#plant-img{
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#leave-popup-page{
    float: right;
    margin-top: 20%;
}

.button-emergency {
    grid-row: 2/2;
}

.text-with-button {
    display: flex;
    align-items: center;
  }
  
  .text-with-button p {
    margin-right: 10px; /* Adjust the spacing between text and button */
  }
  
  .text-with-button button, #leave-popup-page {
    padding: 10px 20px;
    background-color: rgb(203, 146, 99); 

  }

#dashboard{
    display: grid;
    position: relative;
    z-index: 1;  
    grid-template-rows: 250px    80px 80px 80px; /*from top to bottom */
    grid-template-columns: 450px 350px 250px  ; /*from left to right */
    grid-gap: 2em;
    
}
h4{
    text-align: center;
     
    color: rgb(240, 227, 215); 
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(203, 146, 99);  ;
}


.blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px); /* Add blur effect to the background */
    z-index: 1; /* Ensure this layer stays on top of the background */
  }

  .st0{fill:#FFFFFF;stroke:#4e4e4e;stroke-miterlimit:10;}
  .st1{font-family:'MyriadPro-Regular'; fill:rgba(203, 146, 99, 0.564);}
  .st2{font-size:17.5886px; z-index: 999; stroke:rgba(203, 146, 99, 0.564); }

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('assets/images/vintage-plant.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
    
    }


.item{
    
    background-color: rgba(255, 255, 255, 0.627);
    border: 5px solid rgb(255, 255, 255);
    z-index: 2;
}


.barChart{
    margin-top: 20%;
    margin-left: 5%;
    grid-row: 1/3;
    text-align: center;
    padding-top: 2%;

}

 .settings{
    margin-left: 20%;
    margin-right: 25%;
    text-align: center;
    padding-top: 5%;
 }

.lineChart{
    grid-row: 3/5;
    margin-left: 5%;
    text-align: center;
    padding-top: 2%;
}

.en-dis-voice{ 
    grid-row: 3/4;
    
}

.item-9{
    
    grid-row: 3/4;
   
}

.item-6{
    margin-bottom: 7%;
}

.item-10{
    margin-bottom: 9%;
}

#botani-modes{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;

   
}

.botani-voice-text{
    margin-left: 60px;
    font-size: 12px;
    
}

.item-4{

    display: flex;
    padding: 5%;  
}

.botani-button{

    margin-right: 70px;
    background-color: rgb(59, 189, 59);
    margin-left: 9%;
    color: white;
    border: 2px solid #ffffff00;
    padding: 2%;
    
}

#botani-emojis{
    font-size: 18px;
}

#botani-notification-button{
    margin-right: 25px;
}

.botani-notification{
    padding-top: 4%;
    padding-left: 10%;
}

.botani-emergency{
    padding-left: 10%;
}

#botani-gtk{
     
    display: flex;
    justify-content: center; /* Horizontally center text */
    align-items: center;
    margin-top: 7%;

}

.item-11, .item-9, .profile, .item-5, .item-10{
    
    margin-right: 7%;
}


.updates{
   
    grid-column: 2/3;
    margin-top: 26%;
    grid-row: 1/3;

}

.profile{

    background-color: rgba(255, 255, 255, 0.606);
    margin-top: 38%;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
   
     
}

.profile-info{

    top: 33%;
    font-size: 12px;
    padding:1% ;
    width: 180px;
    margin: 4%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.80);
}

.profile-text{
    margin-top: 2%;
}
 

.update{

    padding: 5%;
    height: 35px;
    margin: 3%;
    background-color: rgba(255, 255, 255, 0.80);
     
}

#profile-pic{
    margin-top: 10%;
    border-radius: 50px;
   
}


.signup{
    background-color: rgb(203, 146, 99);

}




  p label{

    display:inline-block;
    width:10%;
    color:rgba(149, 0, 153,0.85);
   
  }


  .wrapper{
 
    width: 400px;
    height: 470px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
     
  }

.login-hm{
 background-color: rgb(160, 115, 78);
 float: left;
 margin: 2%;
 padding: 1%;
}

  .wrapper .form-box{

    width: 100%;
    padding: 40px;
    background-color: rgba(216, 104, 73, 0.742);

    
  }
  h2{

    font-size: 2em;
    color:rgba(129, 58, 38, 0.742);
    text-align: center;
   
  }

  .input-box{
    position: relative;
    height: 50px;
    justify-content: space-between;
  }

  .input-box label {
    position: absolute;
    transform: translateY(-250%);
    left: 5px;
  }


  .input-box .icon{
    position: absolute;
    top: 3px;
    right: 4px;
  }

  .background-image {
    background-image: url('images/plant.jpeg');
    background-size: cover;
    width: 100%;
    z-index: 2;
 }

  input{
    width:100%;
    
  }
  input[type=submit]{
    width:8%;
  }

  input[type=checkbox]{
    width: 20px;
    position: absolute;
  }

.register{
    font-size: 14px;
}
  .remember-forget{
   
    margin: -15px 0 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    
  }

  .remember-forget > p {
   
    margin-left:25px
    
  }

  .remember-forget label input {
   margin-right: 3px;
  }

  .remember-forget a {
    text-decoration: none;
  }
  .remember-forget a:hover {
    text-decoration: underline;
  }

  .btn{
    position: static;
    width: 100%;
    height: 45px;
    background-color: rgba(211, 134, 113, 0.742);
    color: aliceblue;
    cursor: pointer;
  }
 
  /* form{
    padding:10px;
    background:rgba(149, 0, 153,0.25);
  } */